aiohttp==3.9.3
aiosignal==1.3.1
beautifulsoup4==4.12.3
bleach==6.1.0
cachetools==5.3.3
certifi
cffi
chardet
click
clyent==1.2.1
cssutils==2.9.0
dataframe-image==0.2.3
defusedxml
distro
Flask
frozenlist==1.4.1
google-api-core==2.18.0
google-auth==2.29.0
google-cloud-dialogflow-cx==1.32.1
googleapis-common-protos==1.63.0
grpcio==1.62.1
grpcio-status==1.62.1
gunicorn==20.1.0
html2image==2.0.4.3
idna
itsdangerous
Jinja2
jsonschema
lxml==5.1.0
MarkupSafe==2.1.5
multidict==6.0.5
pandas
pillow
protobuf==4.25.3
Pygments==2.17.2
PyJWT
PyQt5==5.15.10
requests
rsa==4.9
scikit-learn==1.4.0
scipy==1.12.0
six
tornado==6.4
urllib3
Werkzeug
yarl==1.9.4
