<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids Bank</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <h1>Kids Bank</h1>
    <h2>Welcome to our dynamic web application</h2>
    <h2>It is designed specifically for young users to learn about financial management in a fun and interactive way.</h2>
    <div id="balance" aria-live="polite">Balance: $0</div>
    <input type="number" id="amount" value="100">
    <button onclick="deposit(Number(document.getElementById('amount').value))">Deposit</button>
    <button onclick="withdraw(Number(document.getElementById('amount').value))">Withdraw</button>
    <script src="{{url_for('static', filename='app.js')}}"></script>

    <link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">
<script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
{#<df-messenger#}
{#  project-id="my-project-cx-419900"#}
{#  agent-id="da62cf2c-d360-4435-8360-3a670e5413a8"#}
{#  language-code="en"#}
{#  max-query-length="-1"#}
{#  allow-feedback="all">#}
{#  <df-messenger-chat-bubble#}
{#   chat-title="">#}
{#  </df-messenger-chat-bubble>#}
{#</df-messenger>#}

    <df-messenger
  project-id="my-project-cx-419900"
  agent-id="da62cf2c-d360-4435-8360-3a670e5413a8"
  language-code="en"
  max-query-length="-1"
  allow-feedback="all">
  <df-messenger-chat-bubble
   chat-title="Chat with us">
  </df-messenger-chat-bubble>
        Chat
</df-messenger>

<style>
  df-messenger {
    z-index: 999;
    position: fixed;
    --df-messenger-font-color: #000;
    --df-messenger-font-family: Google Sans;
    --df-messenger-chat-background: #f3f6fc;
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: #fff;
    bottom: 16px;
    right: 16px;
  }
</style>


</body>
</html>



